@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}


.glow-effect {
  text-shadow: 0 0 5px #16b7ea, 0 0 10px #16b7ea, 0 0 15px #16b7ea, 0 0 20px #16b7ea;
}
